@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.gallery {
  display: flex;
  overflow-x: auto;
  /* height: calc(100% / 3); */
  margin: 1rem 0;
  padding-bottom: 5px;
}

.gallery img {
  /* min-width: calc((65vw - 260px) / 3); */
  width: calc((65vw - 260px) / 3);
  height: calc((65vw - 260px) / 3);
  object-fit: cover;
  object-position: center;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.gallery img:last-of-type {
  margin-right: 0;
}

.inline-flights {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.outer-link {
  line-height: 1.1rem;
  margin: 0 0.75rem 0 0.5rem;
}

.outer-link a {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ff5600;
  color: #ff5600;
}

.outer-link a img {
  margin-left: 0.4rem;
  margin-top: -0.33rem;
}

p.flights {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
}

strong.flights {
  color: #ff5600;
}

.no-photos {
  font-size: x-small;
  padding-left: 1rem;
  margin: 0 0 0.5rem 0;
  width: 100%;
}

.no-photos a {
  color: #ff5600;
  border-bottom: 1px solid #ff5600;
}

ol li {
  margin: 1rem 0;
}
